@use "themes/dark";
@use "themes/light";
@use "global";
@use "reset";
@use "responsive";

body {
  font: var(--font-m);
  min-height: 100vh;
  background: var(--background-color);
  color: var(--text-color);
  transition: background 0.3s, color 0.3s, border-color 0.3s, background-color 0.3s;
}