@use "themes/calm.scss";
@use "themes/heavy.scss";
@use "themes/neutral.scss";
@use "global.scss";
@use "reset.scss";

body {
  font: var(--font-m);
  min-height: 100vh;
  background: var(--white);
  color: var(--black);
}