.calm-theme {
  --button-bg: ;
  --button-bg-hover: ;
  --button-bg-active: ;
  --button-text: ;
  --button-border: ;
  --background-color: ;
  --text-color: ;

  --header-background-color: ;
  --header-font-color: ;
  --footer-background-color: ;
  --footer-font-color: ;

  --primary-color: ;
  --primary-color-light: ;
  --primary-color-dark: ;

  --secondary-color: ;
  --secondary-color-light: ;
  --secondary-color-dark: ;

  --accent-color: ;
  --muted-color: ;

  --border-color: ;
  --hover-overlay: ;
}